<div class="container col-md-6" style="margin-top: 100px;">
  <h1>Login Form</h1>
    <form [formGroup]="myLoginForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="username">Username :</label>
          <input type="text" class="form-control" id="username" placeholder="Enter Username" formControlName="username">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div *ngIf="myLoginForm.get('username').errors?.required && myLoginForm.get('username').dirty" class="text-danger">*Required</div>
        </div>
        <div class="form-group">
          <label for="password">Password :</label>
          <input [type]="show ? 'text' : 'password'" class="form-control" id="password" placeholder="Password" formControlName="password" style="display: inline;">
          <div *ngIf="!myLoginForm.get('password').errors?.required">
          <input (click)="password()" type="checkbox" *ngIf="!show"><span *ngIf="!show">Show Password</span>
          <input (click)="password()" type="checkbox" *ngIf="show"><span *ngIf="show">Hide Password</span>
          </div>
          <div *ngIf="myLoginForm.get('password').errors?.required && myLoginForm.get('password').dirty" class="text-danger">*Required</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myLoginForm.valid">Login</button>
        <br>
        <h6 class="text-danger" *ngIf="incorrect">Incorrect Credentials. Please try again.</h6>
        <h6 class="text-danger" *ngIf="register">Please register to login.</h6>
        <a (click)="toNewUser()" class="toNewUser" style="color: black;cursor: pointer;" >New User?</a>
      </form>
</div>