<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" (click)="toHome()" style="cursor: pointer;">QuizTime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!loggedIn">
          <a class="nav-link" (click)="toLogin()" style="cursor: pointer;">Login</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <span class="nav-link" (click)="tohomePage()">Hi {{user.username}},</span>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" (click)="viewMyScores()">My Scores</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" (click)="toHome()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>